<div class="container-fluid">
  <app-pagetitle title="Accion Empleados" ></app-pagetitle>

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
    
          <form class="row g-3">
            <div class="col-md-4">
              <label for="inputEmail4" class="form-label">Cedula</label>
              <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="col-md-4">
              <label for="inputPassword4" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
            <div class="col-md-4">
              <label for="inputEmail4" class="form-label">Apellido</label>
              <input type="text" class="form-control" id="formGroupExampleInput">
            </div>
          
            <div class="col-12">
            <br>
              <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
          </form>
    
      </div>
    </div>
  </div>
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"> Acción de Personal</h4>
          <p class="card-title-desc">
          </p>

          <div class="table-responsive">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th>Cedula</th>
                  <th>Nombre</th>
                  <th>Cargo</th>
                  <th>Fecha Entrada</th>
                  <th>Sueldo</th>
                  <th>Departamento</th>
                  <th>Estatus</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                  <td>Table cell</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>

    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
    
          
          
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-4">Naturaleza de la acción</h4>
        
                  <div class="row">
                    <div class="col-md-3">
                      <div>
                        <h5 class="font-size-14 mb-4">DESIGNACION</h5>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Nombram. Ordinario</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Nombram. Nominal</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Por Contrato</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Suplencia o Interino</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Periodo Probatorio</label>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div>
                        <h5 class="font-size-14 mb-4">CAMBIOS</h5>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Ascenso</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Reclasificación</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Aumento Sueldo</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Traslado</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Reintegro</label>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div>
                        <h5 class="font-size-14 mb-4">VACACIONES Y LICENCIAS</h5>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Vacaciones</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Licen. con Sueldo</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Licen. sin Sueldo</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Licen. por Enfermedad</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Licen. por Maternidad</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Licen. por Estudios</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Licen. Especial</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Licen. Estudios</label>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div>
                        <h5 class="font-size-14 mb-4">DISCIPLINA</h5>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Descuento</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Amonestación Escrita</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Suspensión Transitoria</label>
                        </div>
                      
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div>
                        <h5 class="font-size-14 mb-4">SEPARACION SERVICIO</h5>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Renuncia</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Jubilación</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Terminación Contrato</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Supresión del Cargo</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Abandono del Cargo</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Destitución</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Fallecimiento</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Invalidez</label>
                        </div>

                      </div>
                    </div>
                    <div class="col-md-3">
                      <div>
                        <h5 class="font-size-14 mb-4">OTRAS ACCIONES</h5>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Prestaciones Laborales</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Cambios </label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Reconocimiento</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Permisos Estudio</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Permisos Matrimonio</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                         Permisos Fallecimiento</label>
                        </div>
                        <div class="form-check mb-3">
                          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                            checked>
                          <label class="form-check-label" for="exampleRadios1">
                          Otras</label>
                        </div>

                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          

          
            <div class="col-6">
              <button type="submit" class="btn btn-primary">Generar</button>
            </div>
            
    
      </div>
    </div>
  </div>
  
  </div>
  <!-- end row -->
</div>
